<link rel="stylesheet" href="public/modern-normalize.min.css" />
<link rel="stylesheet" href="src/components/squealcard/squealcard.css" />
<div class="squeal-card">
  <h2 class="squeal-card__author">{{author}}</h2>
  <p class="squeal-card__receivers">{{receivers}}</p>
  <p class="squeal-card__datetime">{{datetime}}</p>
  <p class="squeal-card__body">{{body}}</p>
  <div class="squeal-card__stats">
    <p id="impressions">Impressions: {{impressions}}</p>
    <p id="positive">Positive reactions: {{positive_reaction}}</p>
    <p id="negative">Negative reactions: {{negative_reaction}}</p>
  </div>
  <div class="squeal-card__category"></div>
</div>
