#channels-list {
  width: 30vw;
  margin: 0 auto;
}

#channel-creation {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#channel-creation h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

#channel-creation div,
#channel-creation label,
#channel-creation textarea,
#channel-creation select {
  margin-bottom: 10px;
}

#channel-creation label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

#channel-creation input,
#channel-creation textarea,
#channel-creation select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#channel-creation__button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
