#root {
  display: flex;
  height: 100vh;
  gap: 1rem;
}

#root > navbar-c {
  flex: 0 0 12%;
  overflow-y: hidden;
}

#root > main {
  flex: 1;
  overflow-y: auto;
}

#root > aside {
  flex: 0 0 48%;
  overflow-y: hidden;
}

.hidden {
  display: none;
}
