<link rel="stylesheet" href="src/components/usercard/usercard.css" />
<div class="user-card">
  <img class="user-card__propic" src="{user.propic}" alt="Profile Picture" />
  <div class="user-card__info">
    <h2 class="user-card__username">{user.username}</h2>
    <p class="user-card__name">{user.firstname} {user.lastname}</p>
    <p class="user-card__email">{user.email}</p>
    <p class="user-card__type">{user.type}</p>
    <p class="user-card__smm">{user.SMM}</p>
    <p class="user-card__quota">{user.quota}</p>
    <p class="user-card__subscriptions">{user.subscriptions}</p>
  </div>
</div>
