header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  gap: 5rem;
}

header #logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

header #logo img {
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

header nav ul li a:hover {
  color: #007bff;
}
